/*--------------------------------------------------------------
>>> Reset:
--------------------------------------------------------------*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/*--------------------------------------------------------------
>>> Scrollbar:
--------------------------------------------------------------*/
html::-webkit-scrollbar, 
body::-webkit-scrollbar,
pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb, 
body::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover, 
body::-webkit-scrollbar-thumb:hover,
pre::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.11);
  border-radius: 10px; 
}

html::-webkit-scrollbar-track:hover, 
body::-webkit-scrollbar-track:hover,
pre::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0);
  border-radius: 10px; 
}

/*--------------------------------------------------------------
>>> Variable: 
--------------------------------------------------------------*/
:root {
  --background-color: #f8f7f6;
  --text-color: #333;

  --link-color: #666;
  --link-hover-color: #000;

  --post-excerpt-color: #666;
  --post-meta-color: #999;

  --post-background-color: #f2f1f0;
  --post-hover-background-color: #e8e8e8;
  --widget-header-background-color: #e8e8e8;

  --border-color: #e0e0e0;
  --arrow-icon-background-color: #e0e0e0;

  --header-height: 6rem;
  --header-padding: 2rem;

  --menu-gap: 1rem;

  --title-font-size: 1.8rem;

  --post-title-font-size: 2rem;

  --home-post-gap: 1rem;
  --home-post-padding: 2rem;
  --home-post-border-radius: 1rem;

  --home-content-padding: 2rem;
  --post-content-padding: 2rem;

  --related-post-border-color: #999;

  --toc-padding: 1.2rem;

  --comments-margin-top: 2rem;

  --sidebar-width: 100%;
  --sidebar-padding: 2rem;
  --widget-header-padding: .6rem 1.2rem;

  --footer-padding: 2rem 0;
}

/*--------------------------------------------------------------
>>> Global:
--------------------------------------------------------------*/
body {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  font-size: 1.6rem;
  line-height: 1.8;
  text-align: justify;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: all .2s ease-in-out;
}

a:hover {
  color: var(--link-hover-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.6;
  text-transform: uppercase;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

p {
  text-wrap: pretty;
}

ul {
  list-style: none;
  padding: 0;
}

/*--------------------------------------------------------------
>>> Global:
--------------------------------------------------------------*/
.container,
.main {
  margin: 0 auto;
}

.container {
  display: flex;
  width: 100%;
}

.app-main .container {
  flex-direction: column;
}

.app-main {
  display: flex;
}

/*--------------------------------------------------------------
>>> Header:
--------------------------------------------------------------*/
.app-header {
  position: sticky;
  top: 0;
  z-index: 9;
  height: var(--header-height);
  border-bottom: 1px dashed var(--border-color);
  background-color: var(--background-color);
}

.app-header .container {
  height: 100%;
  align-items: center;
  padding: var(--header-padding);
}

.site-name {
  font-size: var(--title-font-size);
  font-weight: 500;
}

.site-name a {
  color: var(--text-color);
}

.menu {
  margin-left: auto;
}

.menu ul {
  display: flex;
  gap: var(--menu-gap);
}

/*--------------------------------------------------------------
>>> Home:
--------------------------------------------------------------*/
.home .content {
  display: grid;
  gap: var(--home-post-gap);
  grid-template-columns: 1fr;
  padding: var(--home-content-padding);
}

.home .post-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.singular .content {
  padding: var(--post-content-padding);
}

/*--------------------------------------------------------------
>>> Post:
--------------------------------------------------------------*/
.post-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--home-post-padding);
  border-radius: var(--home-post-border-radius);
  background-color: var(--post-background-color);
}

.post-link:hover {
  background-color: var(--post-hover-background-color);
}

.post-link .post-title {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--text-color);
}

.post-link .post-excerpt {
  font-size: 1.4rem;
}

.arrow-icon {
  display: block;
  padding: .6rem;
  border-radius: 50%;
  color: var(--text-color);
  background-color: var(--arrow-icon-background-color);
}

.post-excerpt {
  color: var(--post-excerpt-color);
}

.post-header {
  padding-bottom: 2rem;
}

.post-meta {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: var(--post-meta-color);
}

.post-content p {
  margin-bottom: 1.5rem;
}

.post-content a {
  border-bottom: 1px dashed var(--related-post-border-color);
}

.post-content a:hover {
  border-bottom-color: var(--text-color);
}

.single-post .post-title {
  font-size: var(--post-title-font-size);
}

.single-post .post-meta {
  font-size: 1.4rem;
}

.toc {
  border-radius: .5rem;
  padding: var(--toc-padding);
  border: 1px solid var(--border-color);
  margin-bottom: 2rem;
}

.toc-header {
  cursor: pointer;
  display: flex;
  outline: none;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}

.toc-header::-webkit-details-marker,
.toc-header::marker {
  display: none;
}

.toc-title {
  flex-grow: 1;
}

.toc-menu-icon {
  display: none;
}

.toc-content {
  max-height: 0;
  margin-top: 1rem;
  font-size: 1.4rem;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.toc[open] > .toc-content {
  max-height: 100rem;
  transition: max-height 0.5s ease-in;
}

.toc-icon::after {
  content: '';
  display: flex;
  padding: 3px;
  margin-bottom: 2px;
  border: solid var(--text-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: transform 0.3s ease-out;
}

.toc[open] > .toc-header .toc-icon::after {
  transform: rotate(-135deg);
}

.toc-content ul {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.toc-content ul ul {
  margin-left: 1rem;
}

/*--------------------------------------------------------------
>>> Related Post:
--------------------------------------------------------------*/
.related-title {
  font-weight: 500;
}

.related-post ul li {
  margin-top: 1rem;
}

/*--------------------------------------------------------------
>>> Sidebar:
--------------------------------------------------------------*/
.sidebar {
  flex-shrink: 0;
  padding: var(--sidebar-padding);
}

.sidebar {
  width: var(--sidebar-width);
}

.widget-header {
  margin-bottom: 1rem;
  padding: var(--widget-header-padding);
  border-radius: .5rem;
  font-size: 1.6rem;
  background-color: var(--widget-header-background-color);
}

.widget ul li {
  padding: .5rem;
}

/*--------------------------------------------------------------
>>> Comments:
--------------------------------------------------------------*/
.comments {
  margin-top: var(--comments-margin-top);
}

/*--------------------------------------------------------------
>>> Footer:
--------------------------------------------------------------*/
.app-footer {
  border-top: 1px dashed var(--border-color);
}

.app-footer .container {
  padding: var(--footer-padding);
}

.copyright {
  width: 100%;
}

.copyright p {
  font-size: 1.4rem;
  text-align: center;
}
/*--------------------------------------------------------------
>>> Media:
--------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  /* Variable */
  :root {
    --header-height: 8rem;
    --title-font-size: 2rem;
    --home-content-padding: 5rem 2rem;
    --sidebar-width: 22rem;
    --toc-width: 20rem;
    --home-post-gap: 2rem;
    --footer-padding: 4rem 0;
    --post-content-padding: 2rem 4rem;
    --post-title-font-size: 2.4rem;
    --menu-gap: 2rem;
    --widget-header-padding: .5rem 1rem;
  }
  /* Global */
  .container {
    border-left: 1px dashed var(--border-color);
    border-right: 1px dashed var(--border-color);
  }
  .app-main .container {
    flex-direction: row;
  }
  .sidebar {
    order: 1;
  }
  .singular .main {
    order: 2;
    flex-grow: 1;
    border-left: 1px dashed var(--border-color);
  }
  /* Header */
  .menu ul {
    flex-direction: row;
  }
  /* Home */
  .home .content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .post-link {
    gap: 1rem;
  }
  .post-link .post-excerpt {
    flex-grow: 1;
  }
  /* Sidebar */
  .sidebar {
    position: sticky;
    top: var(--header-height);
    height: fit-content;
  }
  .widget ul {
    font-size: 1.4rem;
  }
  /* Footer */
  .app-footer .container {
    padding: var(--footer-padding);
  }
}

@media screen and (min-width: 1024px) {
  /* Variable */
  :root {
    --sidebar-width: 24rem;
    --toc-width: 22rem;
    --home-content-padding: 5rem 0;
    --post-content-padding: 0 0 2rem 4rem;
    --post-column-gap: 4rem;
    --post-header-padding-top: 2rem;
    --toc-padding: 2rem 2rem 2rem 0;
  }
  /* Global */
  .container {
    max-width: 1000px;
  }
  /* Home */
  .home .main {
    max-width: 800px;
  }
  /* Post  */
  .single-post {
    display: grid;
    column-gap: var(--post-column-gap);
  }
  .post-header {
    grid-row: 1;
    grid-column: 1;
    padding-top: var(--post-header-padding-top);
  }
  .post-content {
    grid-row: 2;
    grid-column: 1;
  }
  .toc {
    grid-row: 1 / 3;
    grid-column: 2;
    position: sticky;
    top: var(--header-height);
    height: fit-content;
    width: var(--toc-width);
    border-width: 0;
    margin-bottom: 0;
  }
  .toc.expand > .toc-header {
    cursor: default;
    pointer-events: none;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .toc.expand .toc-title {
    flex-grow: 0;
    margin-left: .5rem;
  }
  .toc.expand .toc-icon::after {
    display: none;
  }
  .toc.expand .toc-menu-icon {
    display: block;
    width: 1.8rem;
    height: 1.8rem;
  }
  .toc-icon::after {
    display: none;
  }
  /* Sidebar */
  .widget ul li {
    padding: 0;
  }
  .widget ul li a {
    display: block;
    padding: var(--widget-header-padding);
    border-radius: .5rem;
  }
  .widget ul li a:hover {
    background-color: var(--widget-header-background-color);
  }
  /* Comments */
  .comments {
    width: calc(100% - var(--toc-width) - var(--post-column-gap));
  }
}
@media screen and (min-width: 1920px) {
  /* Variable */
  :root {
    --sidebar-width: 28rem;
    --sidebar-width: 26rem;
    --toc-width: 26rem;
    --post-content-padding: 0 0 2rem 6rem;
    --post-column-gap: 6rem;
  }
  .container {
    max-width: 1200px;
  }
  /* Home */
  .home .main {
    max-width: 800px;
  }
}
@media screen and (min-width: 2560px) {
  /* Variable */
  :root {
    --sidebar-width: 30rem;
    --post-content-padding: 0 0 2rem 12rem;
    --post-column-gap: 12rem;
    --sidebar-width: 30rem;
    --toc-width: 30rem;
  }
  .container {
    max-width: 1500px;
  }
  /* Home */
  .home .main {
    max-width: 1000px;
  }
}

