/*--------------------------------------------------------------
>>> Reset:
--------------------------------------------------------------*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/*--------------------------------------------------------------
>>> Scrollbar:
--------------------------------------------------------------*/
html::-webkit-scrollbar, 
body::-webkit-scrollbar,
pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb, 
body::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover, 
body::-webkit-scrollbar-thumb:hover,
pre::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.11);
  border-radius: 10px; 
}

html::-webkit-scrollbar-track:hover, 
body::-webkit-scrollbar-track:hover,
pre::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0);
  border-radius: 10px; 
}

/*--------------------------------------------------------------
>>> Variable: 
--------------------------------------------------------------*/
:root {
  --header-height: 6rem;
  --header-padding: 2rem;
  --menu-gap: 1rem;
  --title-font-size: 1.8rem;
  --post-title-font-size: 2rem;
  --archive-card-gap: 1rem;
  --archive-card-padding: 2rem;
  --archive-card-border-radius: 1rem;
  --archive-content-padding: 2rem;
  --single-post-content-padding: 2rem;
  --toc-padding: 1.2rem;
  --section-margin-top: 2rem;
  --sidebar-width: 100%;
  --sidebar-padding: 2rem;
  --widget-header-padding: .6rem 1.2rem;
  --list-gap: 1rem;
  --section-margin-top: 2rem;
  --widget-margin-top: 2rem;
  --footer-padding: 2rem 0;
  --little-border-radius: .5rem;
  --backtotop-bottom: 2rem;
  --backtotop-right: 2rem;
  --theme-toggle-icon-size: 3.2rem;

  --post-excerpt-color: #666;
  --post-meta-color: #999;
  --related-post-border-color: #999;

}
html.light-mode {
  --background-color: #f8f7f6;
  --text-color: #333;
  --link-color: #666;
  --link-hover-color: #000;
  --border-color: #e0e0e0;
  --post-bg-color: #f2f1f0;
  --post-hover-bg-color: #e8e8e8;
  --contact-text-color: #fff;
  --contact-bg-color: #2b7fff;
  --contact-hover-bg-color: #155dfc;
  --widget-header-bg-color: #e8e8e8;
  --arrow-icon-bg-color: #e0e0e0;
  --tag-icon-bg-color: #e5e5e5;
  --tag-name-bg-color: #d8d8d8;
  --backtotop-bg-color: #f2f1f0;
  --backtotop-hover-bg-color: #e8e8e8;
}

html.dark-mode {
  --background-color: #101010;
  --text-color: #cbcbcb;
  --border-color: #353535;
  --post-bg-color: #181818;
  --post-hover-bg-color: #202020;
  --link-color: #8f8f8f;
  --link-hover-color: #cbcbcb;
  --contact-text-color: #cbcbcb;
  --contact-bg-color: #155dfc;
  --contact-hover-bg-color: #2b7fff;
  --widget-header-bg-color: #1f1f1f;
  --arrow-icon-bg-color: #252525;
  --tag-icon-bg-color: #252525;
  --tag-name-bg-color: #2a2a2a;
  --backtotop-bg-color: #202020;
  --backtotop-hover-bg-color: #202020;
}
/*--------------------------------------------------------------
>>> Global:
--------------------------------------------------------------*/
body {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  font-size: 1.6rem;
  line-height: 1.8;
  text-align: justify;
  hyphens: none;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: all .2s ease-in-out;
}

a:hover {
  color: var(--link-hover-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.6;
  text-transform: uppercase;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

p {
  text-wrap: pretty;
}

ul {
  list-style: none;
  padding: 0;
}

::marker {
  font-size: 1.4rem;
  color: currentColor;
}

/*--------------------------------------------------------------
>>> Global:
--------------------------------------------------------------*/
.container,
.main {
  margin: 0 auto;
}

.container {
  display: flex;
  width: 100%;
}

.content {
  margin-left: auto;
  margin-right: auto;
}

.app-main {
  display: flex;
}

/*--------------------------------------------------------------
>>> Header:
--------------------------------------------------------------*/
.app-header {
  position: sticky;
  top: 0;
  z-index: 9;
  height: var(--header-height);
  border-bottom: 1px dashed var(--border-color);
  background-color: var(--background-color);
}

.app-header .container {
  height: 100%;
  align-items: center;
  padding: var(--header-padding);
}

.site-title {
  margin-right: auto;
}

.site-name {
  font-size: var(--title-font-size);
  font-weight: 500;
  line-height: 1;
}

span.site-name {
  display: block;
}

.site-name a {
  color: var(--text-color);
}

.menu ul {
  display: flex;
  gap: var(--menu-gap);
}

.menu-toggle {
  display: none;
}

.buttons {
  display: flex;
  align-items: center;
  gap: var(--menu-gap);
  margin-left: var(--menu-gap);
}

.contact {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--contact-text-color);
  padding: .5rem 1rem;
  border-radius: var(--little-border-radius);
  background-color: var(--contact-bg-color);
}

.contact:hover {
  color: var(--contact-text-color);
  background-color: var(--contact-hover-bg-color);
}

.contact .icon-telegram {
  fill: currentColor;
  width: 1.6rem;
  height: 1.6rem;
}

.contact-text {
  display: block;
  font-size: 1.4rem;
}

.theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  cursor: pointer;
  width: var(--theme-toggle-icon-size);
  height: var(--theme-toggle-icon-size);
  color: var(--text-color);
  border-radius: var(--little-border-radius);
  background-color: transparent;
  transition: background-color 0.3s, transform 0.2s;
}

.theme-toggle .icon-theme {
  display: none;
  width: 1.6rem;
  height: 1.6rem;
  transition: color 0.3s;
  color: var(--text-color);
}

html.light-mode .icon-dark {
  display: none;
}

html.light-mode .icon-light {
  display: block;
}

html.dark-mode .icon-light {
  display: none;
}

html.dark-mode .icon-dark {
  display: block;
}

/*--------------------------------------------------------------
>>> Archive:
--------------------------------------------------------------*/
.isArchive .content {
  padding: var(--archive-content-padding);
}

.isArchive .posts {
  display: grid;
  gap: var(--archive-card-gap);
}

.isArchive .post-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: var(--archive-card-gap);
}

.pagination .page-numbers {
  font-size: 1.4rem;
  padding: var(--widget-header-padding);
  background-color: var(--post-bg-color);
  border-radius: var(--little-border-radius);
}

.pagination .current,
.pagination .page-numbers:hover {
  color: var(--link-color);
  background-color: var(--post-hover-bg-color);
}

.page-header {
  margin-bottom: var(--archive-card-gap);
}

.page-title {
  font-size: 2.4rem;
  text-align: center;
}

.archive {
  margin-top: var(--archive-card-gap);;
}

.archive-header {
  position: sticky;
  top: var(--header-height);
  padding: 1rem;
  background-color: var(--background-color);
}

.archive-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--post-meta-color);
}

.isSingular .content {
  padding: var(--single-post-content-padding);
}

/*--------------------------------------------------------------
>>> Post:
--------------------------------------------------------------*/
.post-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--archive-card-padding);
  border-radius: var(--archive-card-border-radius);
  background-color: var(--post-bg-color);
}

.post-link:hover {
  background-color: var(--post-hover-bg-color);
}

.post-link .post-title {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--text-color);
}

.post-link .post-excerpt {
  font-size: 1.4rem;
}

.arrow-icon {
  display: block;
  padding: .6rem;
  border-radius: 50%;
  color: var(--text-color);
  background-color: var(--arrow-icon-bg-color);
}

.post-excerpt {
  color: var(--post-excerpt-color);
}

.post-header {
  padding-bottom: 2rem;
}

.post-meta {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: var(--post-meta-color);
}

.post-content p {
  margin-bottom: 1.5rem;
}

.post-content a {
  border-bottom: 1px dashed var(--related-post-border-color);
}

.post-content a:hover {
  border-bottom-color: var(--text-color);
}

.single-post .post-title {
  font-size: var(--post-title-font-size);
}

.single-post .post-meta {
  font-size: 1.4rem;
}

.post-toc {
  border-radius: var(--little-border-radius);
  padding: var(--toc-padding);
  border: 1px solid var(--border-color);
  margin-bottom: 2rem;
}

.toc-header {
  cursor: pointer;
  display: flex;
  outline: none;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}

.toc-header::-webkit-details-marker,
.toc-header::marker {
  display: none;
}

.toc-title {
  flex-grow: 1;
}

.icon-toc {
  display: none;
}

.toc-content {
  max-height: 0;
  margin-top: var(--list-gap);
  font-size: 1.4rem;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.post-toc[open] > .toc-content {
  max-height: 100rem;
  transition: max-height 0.5s ease-in;
}

.toc-icon::after {
  content: '';
  display: flex;
  padding: 3px;
  margin-bottom: 2px;
  border: solid var(--text-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: transform 0.3s ease-out;
}

.post-toc[open] > .toc-header .toc-icon::after {
  transform: rotate(-135deg);
}

.toc-content ul {
  display: flex;
  gap: var(--list-gap);
  flex-direction: column;
}

.toc-content ul ul {
  margin-left: 1rem;
}

/*--------------------------------------------------------------
>>> Post Tags:
--------------------------------------------------------------*/
.tags-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.4rem;
}

.tags-list a {
  display: flex;
  border-radius: var(--little-border-radius);
  line-height: 1;
  overflow: hidden;
}

.tags-list a:hover {
  opacity: .7;
}

.tag-icon {
  padding: .8rem 1rem;
  background-color: var(--tag-icon-bg-color);
}

.tag-name {
  padding: .8rem 1.2rem;
  background-color: var(--tag-name-bg-color);
}


/*--------------------------------------------------------------
>>> Related Post:
--------------------------------------------------------------*/
.related-post {
  margin-top: var(--section-margin-top);
}
.related-title {
  font-weight: 500;
}

.related-content {
  margin-top: var(--list-gap);
}

.related-content ul {
  display: flex;
  flex-direction: column;
  gap: var(--list-gap);
  list-style-type: disc;
  padding-inline-start: 2rem;
}

/*--------------------------------------------------------------
>>> Sidebar:
--------------------------------------------------------------*/
.sidebar {
  flex-shrink: 0;
  padding: var(--sidebar-padding);
}

.sidebar {
  width: var(--sidebar-width);
}

.qrcode {
  display: none;
}

.qrcode-img {
  width: 100%;
  border-radius: var(--little-border-radius);
}

.qrcode-desc {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.widget-header {
  padding: var(--widget-header-padding);
  border-radius: var(--little-border-radius);
  font-size: 1.6rem;
  background-color: var(--widget-header-bg-color);
}

.widget-content {
  margin-top: var(--list-gap);
}

.widget-content ul {
  display: flex;
  flex-direction: column;
  gap: var(--list-gap);
}

.recent ul li a {
  display: block;
  padding: 0 .5rem;
}

/*--------------------------------------------------------------
>>> Comments:
--------------------------------------------------------------*/
.comments {
  margin-top: var(--section-margin-top);
}

/*--------------------------------------------------------------
>>> Footer:
--------------------------------------------------------------*/
.app-footer {
  border-top: 1px dashed var(--border-color);
}

.app-footer .container {
  padding: var(--footer-padding);
}

.copyright {
  width: 100%;
}

.copyright p {
  font-size: 1.4rem;
  text-align: center;
}

.backtotop {
  position: fixed;
  bottom: var(--backtotop-bottom);
  right: var(--backtotop-right);
  width: 3.6rem;
  height: 3.6rem;
  background-color: var(--backtotop-bg-color);
  color: var(--text-color);
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(var(--backtotop-bottom));
  visibility: hidden;
  transition: all 0.3s;
  z-index: 9;
}

.backtotop:hover {
  background-color: var(--backtotop-hover-bg-color);
}

.backtotop.visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.backtotop .icon-backtotop {
  width: 1.8rem;
  height: 1.8rem;
  fill: currentColor;
}

/*--------------------------------------------------------------
>>> Media:
--------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  :root {
    --theme-toggle-icon-size: 2.4rem;
  }
  /* Global */
  .app-main .container {
    flex-direction: column;
  }
  .isArchive .posts {
    grid-template-columns: 1fr;
  }
  /* Header */
  .menu {
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100%;
    padding: var(--header-padding);
    background-color: var(--background-color);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-15px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;
  }
  .menu-active .menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  .menu ul {
    flex-direction: column;
  }
  .menu li a {
    display: block;
    padding: .6rem;
    text-align: center;
    border-radius: var(--little-border-radius);
    background-color: var(--post-hover-bg-color);
  }
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 3.2rem;
    height: 2.4rem;
    padding: .6rem .8rem;
    border: none;
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
  }
  .menu-toggle-bar {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    border-radius: 1px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .menu-active .menu-toggle-bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  .menu-active .menu-toggle-bar:nth-child(2) {
    opacity: 0;
  }
  .menu-active .menu-toggle-bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
  }
  .contact-text {
    display: none;
  }
  /* Archives */
  .pagination .page-numbers {
    display: none;
  }
  .pagination .prev,
  .pagination .next {
    display: block;
  }
  /* Footer */
  .backtotop .icon-backtotop {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media screen and (min-width: 768px) {
  /* Variable */
  :root {
    --header-height: 8rem;
    --title-font-size: 2rem;
    --archive-content-padding: 5rem 2rem;
    --sidebar-width: 22rem;
    --toc-width: 20rem;
    --archive-card-gap: 2rem;
    --footer-padding: 4rem 0;
    --single-post-content-padding: 2rem 4rem;
    --post-title-font-size: 2.4rem;
    --menu-gap: 2rem;
    --widget-header-padding: .5rem 1rem;
  }
  /* Global */
  .app-main .container {
    flex-direction: row;
  }
  .sidebar {
    order: 1;
  }
  .isSingular .main {
    order: 2;
    flex-grow: 1;
    border-left: 1px dashed var(--border-color);
  }
  /* Header */
  .menu ul {
    flex-direction: row;
  }
  .theme-toggle:hover {
    background-color: var(--post-hover-bg-color);
  }
  /* Archives */
  .isArchive .posts {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .pagination {
    justify-content: center;
  }
  .post-link {
    gap: 1rem;
  }
  .post-link .post-excerpt {
    flex-grow: 1;
  }
  /* Sidebar */
  .sidebar {
    position: sticky;
    top: var(--header-height);
    height: fit-content;
  }
  .widget-content ul {
    font-size: 1.4rem;
    gap: 0;
  }
  .recent ul li a {
    padding: .5rem;
  }
  /* Footer */
  .app-footer .container {
    padding: var(--footer-padding);
  }
}

@media screen and (min-width: 1024px) {
  /* Variable */
  :root {
    --sidebar-width: 24rem;
    --toc-width: 22rem;
    --archive-content-padding: 5rem 0;
    --single-post-content-padding: 0 0 2rem 4rem;
    --post-column-gap: 4rem;
    --post-header-padding-top: 2rem;
    --toc-padding: 2rem 2rem 2rem 0;
  }
  /* Global */
  .container {
    max-width: 98rem;
    border-left: 1px dashed var(--border-color);
    border-right: 1px dashed var(--border-color);
  }
  /* Archives */
  .isArchive .main {
    max-width: 80rem;
  }
  /* Post  */
  .single-post {
    display: grid;
    column-gap: var(--post-column-gap);
  }
  .post-header {
    grid-row: 1;
    grid-column: 1;
    padding-top: var(--post-header-padding-top);
  }
  .post-content {
    grid-row: 2;
    grid-column: 1;
  }
  .post-tags {
    grid-row: 3;
    grid-column: 1;
  }
  .related-post {
    grid-row: 4;
    grid-column: 1;
  }
  .post-toc {
    grid-row: 1 / 3;
    grid-column: 2;
    position: sticky;
    top: var(--header-height);
    height: fit-content;
    width: var(--toc-width);
    border-width: 0;
    margin-bottom: 0;
  }
  .post-toc.expand > .toc-header {
    cursor: default;
    pointer-events: none;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .post-toc.expand .toc-title {
    flex-grow: 0;
    margin-left: .5rem;
  }
  .post-toc.expand .toc-icon::after {
    display: none;
  }
  .post-toc.expand .icon-toc {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
  }
  .toc-icon::after {
    display: none;
  }
  /* Sidebar */
  .widget ul li {
    padding: 0;
  }
  .widget ul li a {
    padding: var(--widget-header-padding);
    border-radius: var(--little-border-radius);
  }
  .widget ul li a:hover {
    background-color: var(--widget-header-bg-color);
  }
  .qrcode {
    display: block;
    margin-top: var(--widget-margin-top);
  }
  /* Comments */
  .comments {
    width: calc(100% - var(--toc-width) - var(--post-column-gap));
  }
}
@media screen and (min-width: 1920px) {
  /* Variable */
  :root {
    --sidebar-width: 28rem;
    --sidebar-width: 26rem;
    --toc-width: 26rem;
    --single-post-content-padding: 0 0 2rem 6rem;
    --post-column-gap: 6rem;
    --section-margin-top: 4rem;
    --backtotop-bottom: 5rem;
    --backtotop-right: 5rem;
  }
  .container {
    max-width: 120rem;
  }
  /* Archive */
  .isArchive .main {
    max-width: 80rem;
  }
}
@media screen and (min-width: 2560px) {
  /* Variable */
  :root {
    --sidebar-width: 30rem;
    --single-post-content-padding: 0 0 2rem 12rem;
    --post-column-gap: 12rem;
    --sidebar-width: 30rem;
    --toc-width: 30rem;
  }
  .container {
    max-width: 150rem;
  }
  /* Archive */
  .isArchive .main {
    max-width: 100rem;
  }
}

